{% extends 'todolist/base.html' %}
{% block title %} Все активные задачи {% endblock title %}
{% block content %}
    <h1>Активные задачи</h1>
    <div class="main-container">
        {% if tasks and user.is_authenticated %}
            {% for task in tasks %}
                <ul class="task-container">
                    <li class="task-name">{{ task.name }}</li>
                    <li class="task-begin">создана: {{ task.time_begin }}</li>
                    <li>
                        <a class="update-button" href="/update_task/{{ task.pk }}">Изменить задачу</a>
                    </li>
                    <li>
                        <a class="update-button delete-button" href="/delete_task/{{ task.pk }}">Удалить задачу</a>
                    </li>
                </ul>
            {% endfor %}
        {% elif not user.is_authenticated%}
        <div class="no-tasks"><p>Вы не вошли в систему</p> <a class="update-button" href="{% url 'login' %}">Войти</a></div>
        {% else %}
            <div class="no-tasks"><p>Нет активных задач</p> <a href="/create_task/" class="update-button">Создать задачу</a></div>
        {% endif %}
    </div>
{% endblock content %}
