{% extends 'todolist/base.html' %}
{% block title %} Категории задач {% endblock title %}
{% block content %}
    <h1>Категории задач</h1>
    <div class="main-container">
        {% if context  and user.is_authenticated%}
            <p class="task-name"><a href="{% url 'category_create' %}" class="update-button">Создать новую категорию</a></p>>
            {% for key, values in context.items %}
                <ul class="task-container cat-container">
                    <li class="task-name">{{ key }}, задач всего: {{ values|length }}</li>
                    <li class="task-name"><a href="/category_delete/{{ key.id }}" class="update-button delete-button">удалить категорию</a></li>
                </ul>
                    <ul class="task-container task-categories">
                        {% for value in values %}
                            <li class="task-name"><a href="/update_task/{{ value.pk }}">{{ value.name }}</a></li>
                        {% endfor %}
                    </ul>

            {% endfor %}
        {% elif not user.is_authenticated%}
        <div class="no-tasks"><p>Вы не вошли в систему</p> <a class="update-button" href="{% url 'login' %}">Войти</a></div>
        {% else %}
            <div class="no-tasks"><p>Нет категорий</p> <a href="{% url 'category_create' %}" class="update-button">Создать новую категорию</a></div>
        {% endif %}
        {% if page_obj.has_other_pages and user.is_authenticated %}
        <nav class="pagination">
            <ul>
        {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
            </li>
        {% endif %}
                {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                <li>{{ p }}</li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                <li>
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
                {% endif %}
                {% endfor %}
        {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            </li>
        {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
{% endblock content %}
